#cursor[curname="array"]{
	background: #fff7;
	border: 2px solid #0009;
	border-radius: 100px;
}
#cursor[curname="move"]{
	border-radius: 0px;
	background: #0000;
}
@media(prefers-color-scheme: dark){
	#cursor[curname="array"]{
		background: #0007;
		border: 2px solid fff9;
	}
}